<!-- Template  page that all other webpages within the project will inherit information from -->

{% load static %}
<!DOCTYPE html>
<html lang="en" class="bg_img">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- HTML Template Tags begin with {% block name %} and they end with {% endblock %} -->
    <title>{% block title %}{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">

</head>
<body>

    <div class="page_container">
        <ul class="topnav">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'users' %}">👉 Log-in 👈</a></li>
            <li><a href="#">About</a></li>
        </ul>

        <header class="header-title">
            <h1>{% block header %}{% endblock %}</h1>
        </header>

        {% block mainContent %}{% endblock %}

    </div>

    <section id="block-footer">
        <p id="footer-right">  <a href="#">Log in</a> | <a href="#">Terms</a>  </p>
        <p id="footer-left">  &copy;2024 - This is homework for The Tech Academy </p>
    </section>
</body>
</html>