{% extends "base.html" %}

{% block title %}Join{% endblock %}

{% block header %}Register a New Username Here!{% endblock %}

{% block mainContent %}

    <div class="login_panel">
        <form method="POST" action="{% url 'join' %}">
            <div>
                <!-- protection against Cross Site Request Forgery -->
                {% csrf_token %}
                {{ form.non_field_errors }}
                {{ form.as_p }}
            </div>
            <div>
                <input type="submit" name="Save_Profile" value="Create New Profile" class="button1">
                <a href="{% url 'users' %}"><button type="button" class="button1">Cancel Request</button></a>
            </div>
        </form>
    </div>

{% endblock %}