header {
    background-color: green;
}

h3 {
    font-size: 20pt;
    color: #ffc9ec;
    width: 30%;
}

h4 {
    color: #7bfcf3;
    font-weight: bold;
    font-size: 15pt;
     text-decoration: underline;
}

p {
    color: white;
}

ul {
    color: #fc7bcf;
}

#registeredUsers {
    color: #02843a;
    font-size: 18pt;
    margin-left: 5pt
}

select {
	padding: 4px 10px;
	width: 80%;
	display: inline-block;
	margin: 1% 0% 0 1%;
	border: 2px solid silver;
    border-radius: 5px;
    box-shadow: 0 0 10px #E8E8E8 inset;
}

.login_panel {
    margin-left: 12pt;
    width: 23%;
    height: 80%;
    padding: 5pt;
    line-height: 20pt;
    background-color: #fffaf4;
	border: 1px solid #d6d6d6;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	transition: all 0.3s ease-in-out;
	border-radius: 10px;
    transition: 0.3s;
}

.login_panel:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
	transition: opacity 0.3s ease-in-out;
}
}

formObject {
	display: block;
    width: 80%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

button_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.button1 {
    flex-grow: 2;
    justify-content: center;
    text-align: center;
    display: inline-block;
    width: 150px; /* button size */
    margin: 2% 2% 2% 2%;
    color: black;
    padding: 5px 0px;
    text-decoration: none;
    font-size: 14px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid silver;
    border-radius: 5px;
}

.button1:hover {
    background-color: #02843a;;
    color: white;
}

#usersList ul {
    color: black;
    padding: 0px;
}

.bg_img {
    background-image: url('/static/images/flower.jpg');
}
